/* GENERALE */
.box404 {
  background-image: url("/public/assets/404/matrix.gif");
  background-repeat: repeat;
  height: 100svh;
  width: 100svw;
  h1 {
    font-size: 5rem;
    animation: blinkAndMove 3s infinite;
  }
}

@keyframes blinkAndMove {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(20px);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}