* {
  text-align: left;
  margin-left: 0.2rem;
}

.followers {
  cursor: pointer;
}

#activity {
  font-weight: bold;
  font-size: 1.2rem;
}

.followers {
  color: rgb(7, 88, 158);
  font-weight: bold;
}

.penna {
  font-size: 160%;
  cursor: pointer;
}
.post-details {
  font-size: 60%;
  margin: 0;
  color: #00000089;
}
.minutes {
  color: #00000089;
  font-size: 90%;
}
.like,
.clock {
  cursor: pointer;
}
.arrow {
  font-size: 1.2rem;
  cursor: pointer;
}
.test {
  font-size: 90%;
}
.divider {
  color: #00000060;
}
.postModal {
  font-size: 70%;
  font-weight: 400;
}
.logos {
  cursor: pointer;
}
.trash {
  cursor: pointer;
  margin-right: 2.6rem;
  color: rgb(147, 6, 6);
  font-size: 90%;
}
.img-container {
  max-width: 50%;
  overflow: hidden;
}
