.createPostWrapper {
    background-color: white;
    margin-top: 1.11em;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 36em;
}

.ProfileImgPost {
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 100%;
    width: 3em;
}

.searchBarPost {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.searchBarPost input {
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0.6em;
    width: 87%;
}

.searchBarPost input:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236) !important;
    transition: 0.1s;
}

.iconWrapperPost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

#buttonImgPost  {
    color: black !important;
    background:none !important;
    border: none !important;
    
}

#ButtonPost {
    color: black;
    background:none;
    border: none;
}

.iconWrapperPost button:hover {
    background-color: blue;
    border: inset;
}

.singleIconWrapperPost {
    display: flex;
}

.mediaIcon {
    color: #0a66c2;
}

.calendarIcon {
    color: orange;
}

.writeIcon {
    color: orangered;
}


.IconPlusText {
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
}

.IconPlusText:hover {
    background-color: rgb(236, 236, 236) !important;
    transition: 0.1s;
}


