/* GENERALE */
.ShowExperience {
    padding: 0;
    .RoleEx {
        margin-bottom: 0;
    }
     li {
        list-style-type: none;
    }
    #logo-formationEx {
        width: 2.8rem;
        height: 2.8rem;
    }
    .DateEx, .LocationEx {
        margin-bottom: 0;
        color: lightslategray
    } 
}

#ExperienceTitle {
    font-size: 1.7em !important;
    text-align: left !important;
    margin: 0.5rem 0.3rem !important;
}

/* MODALE */
#CondivisioneModificheEx {
    padding: 1rem 2rem;
    background-color: #edf3f8;
    #LinkCondivisioneModificheEX {
        color: #0a66c2;
    }
    span:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    #MyToggleEx, #MyToggleEx:hover {
        width: 3.2rem !important;
        height: 2rem !important;
        border: 1px solid var(--transparent);
        cursor: pointer;
    }
    
}

.requiredWarningEx {
    font-size: 0.95em;
    margin: 1em 0em 0em 2em !important;
}

.inputModalEx {
    border-radius: 5px !important;
    padding: 0.25em !important; 
    font-size: 1.4em !important;
    border: 1px solid lightgrey !important;
}

.inputLabelEx {
    padding: 0 !important;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

.inputDescEx {
    border-radius: 5px;
    padding: 1em ; 
    font-size: 1.4em;
    border: 1px solid lightgrey;
}

.dateWrapperEx {
    display: flex;
}

.endBtnWrapper {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid lightgrey;
    padding: 1.2em 1.4em 1.2em 1.2em;
    .saveExperience {
        background-color: #0a66c2;
        color: white;
        padding: 0.4em;
        border-radius: 50px;
        width: 5em;
            text-align: center;
            border: inherit;
        }
}

