/* GENERALE */

.FooterVariation {
  font-size: 0.8em;
  margin: 2rem 0rem 0rem 0rem ;
  padding: 0rem 2rem !important; 
   a {
    margin-bottom: 0.5em;
  }
  a:hover, .FooterPrivacy:hover {
    text-decoration: underline !important;
    color: #0000ff !important;
  }
  .FooterCol {
    display: flex !important;
    flex-direction: column !important;
  }
  .FooterSpecial {
    display: flex;
    margin-bottom: 1em;
  }
  .FooterQst {
    margin-left: 0.5em;
  }
  i {
    font-size: 1.7em;
  }
  .FooterSpecialLink {
    font-size: 1.1em;
    font-weight: 600;
  }
  #FooterLanguageSelect {
    width: 20em;
    padding: 0.5em;
  }
}

.FooterVariation p {
  margin-bottom: 0 ;
}

.FooterPrivacy {
  margin: 0em 0.4em 0.5em 0em !important;
  padding: 0 !important;
  font-size: 1em !important;
  text-decoration: none !important;
  color: #3D3D3C !important;
  span {
    margin: 0em;
  }
}
