/* PROFILE-SUMMARY */

#ContainerSummary {
    width: 14rem;
}

#ContainerSummary img {
    width: 4em;
}

#Section1Summary .Style1Summary {
    color: rgb(0 0 0 / 60%);
}

#UserName:hover {
    cursor: pointer;
    text-decoration: underline;
}

#Section2Summary:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

#Section2Summary .Style2Summary {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
}

#ExpandYourNetwork {
    font-size: 0.75em;
    font-weight: 600;
}

#Section3Summary:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

#Section3Summary .Style3Summary {
    font-size: 0.75em;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
}

#TryPremium {
    font-size: 0.75em;
    font-weight: 600;
    cursor: pointer;
}

#TryPremium:hover {
    text-decoration: underline;
    color: #0c73da;
}


#Section4Summary {
    font-size: 0.85em;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0 0 0 / 60%);
}

#Section4Summary:hover {
    background-color: rgb(236, 236, 236);
}


/* SEE-MORE */

.LinkSeeMore {
    font-size: 0.8em;
    font-weight: 600;
    color: #0c73da;
    cursor: pointer;
}

.LinkSeeMore:hover {
    text-decoration: underline;
}

.ButtonSeeMore:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
