.active-link {
    color: forestgreen;
  }
  
  .active-link:hover {
    text-decoration: none;
  }
  
  .underline {
    border-bottom: 0.3svh solid forestgreen;
    padding-bottom: 2svh;
    margin-bottom: -1.2svh;
  }

  .text-center {
    text-align: center;
  }