@import './components/css/Activity.css';
@import './components/css/Footer.css';
@import './components/css/FormationStyle.css';
@import './components/css/Interessi.css';
@import './components/css/MainProfile.css';
@import './components/css/MayKnow.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './components/css/navbar.css';
@import './components/css/ads.css';
@import './components/css/Home.css';
@import './components/css/jobs.css';
@import './components/css/error.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  margin: 0;
}

main {
  display: flex;
  margin: 0;
  section {
    flex-basis: 35%;
    flex-basis: 35%;
  };
}

#root, body{
  background-color: #F4F2EE;
  margin: 0;
}

.HoverBluScritte:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

/* SIDE-SECTION */

.SideSections {
  width: 17rem !important;
}

.ButtonSideSections {
  color: #414141;
  font-weight: 600;
}

.ButtonSideSections:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

#TitoloNews {
  display: block;
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ParagraphProfileLanguage {
  font-size: 0.85em;
  color: rgb(0 0 0 / 60%);
}

#OnThisPageParagraph {
  font-size: 0.9em;
  color: rgb(0 0 0 / 60%);
}

/* FOOTERHOME */

#ContainerFooterHome {
  font-size: 0.8em;
  color: rgb(0 0 0 / 60%);
}

.textUnderStyle:hover {
  color: #0a66c2;
  cursor: pointer;
  text-decoration: underline;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.MayKnowImg{
  height: 3em !important;
  width: 3em !important;
}
.MayKnowContent{
  padding-top: 0;
}
.MayKnowTitle{
  font-size: 90%;
  margin-top: 1em;
}
.MayKnowName {
  font-size: 90%;
}
.MayKnowColumn p {
  font-size: 80%;
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}
.MayKnowBtn{
  font-size: 110%;
}