@import './components/css/Activity.css';
@import './components/css/Footer.css';
@import './components/css/FormationStyle.css';
@import './components/css/Interessi.css';
@import './components/css/MainProfile.css';
@import './components/css/MayKnow.css';
@import './components/css/navbar.css';

main {
  display: flex;
  margin: 0;
  section {
    flex-basis: 35%;
  };
}